

/* Home Bar */



/* Section Header */

.header {

    background: #DCEAF5;
    height: 703px;
    top: 84px;


}

.headerLeft {

    width: 50%;
    height: 650px;


}

.header img {


    width: 747px;
    height: 618px;

}

.Left {

    display: flex;
}

.headerLeft h1 {

    font-weight: 600;
    font-style: normal;
    font-size: 64px;
    line-height: 72px;
    color: #1D3444;
    letter-spacing: -0.03em;

}

.headerLeft p {

    width: 571px;
    height: 60px;
    left: 321px;
    top: 357px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5B5B5B;
}

.headerButton {

    display: flex;
    width: 60%;
    justify-content: space-between;
}

.headerButton button {


    font-style: normal;
    width: 199px;
    height: 54px;
    font-weight: 600;
    font-size: 16px;
    background: #F58A07;
    border-radius: 27px;
    color: #FFFFFF;
    border: #DCEAF5;
    cursor: pointer;
}

.headerButton a {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1D3444;
    text-decoration: none;
    margin-top: 15px;
}

.hdr {
    display: flex;
    justify-content: space-between;
    width: 89%;

}

.hdr img {


    width: 143px;
    height: 33px;
}

/* Section Help */

.Help {

    height: 740px;
    width: 100%;
    margin-top: 80px;

}



.Help h2 {

    width: 735px;
    height: 112px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;

}

.Help p {
    width: 400px;
    height: 241px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

.Help .text {

    width: 735px;
    height: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;

}


.Cards {

    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 450px;
    margin-top: 50px;
}

.Cards img {

    width: 400px;
    height: 241px;
    border-radius: 20px;
}

.Cards p {

    width: 400px;
    height: 90px;
}

.Cards h3 {

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: -0.03em;
}

.Cards a {

    width: 100px;
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #F58A07;
    text-decoration: none;
}

.Cards a::after {

    content: "\279D";
    margin-left: 10px;

}

.feaur h3 {

    width: 600px;
    height: 132px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;

}

.feaur p {

    width: 620px;
    height: 102px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #1D3444;
    margin-top: 40px;
}

.feaur {

    display: flex;
    justify-content: space-between;

}

.Feaures {

    width: 100%;
    height: 600px;
    background-color: #EDF7FF;
    margin-top: 80px;
}

.feaur-cards {

    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.card1 {

    width: 31%;
    height: 277px;
    border-radius: 20px;
    background-color: #FFFFFF;

    padding-top: 40px;
    padding-left: 40px;
}

.card2 {

    width: 31%;
    height: 277px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-left: 40px;
}

.card3 {

    width: 31%;
    height: 277px;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-left: 40px;
}

/* About section */


.About {

    display: flex;
    height: 667px;
    width: 100%;
    justify-content: space-between;
}

.back-img {

    background: url("./images/about-image.png"), #F58A07;
    background-blend-mode: multiply;
    background-repeat: no-repeat;

    background-size: cover;
    border-radius: 10px;
    width: 49%;
    height: 700px;

}

.Ab-text {

    width: 49%;
    height: 700px;
}

.about-RL {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Ab-text h3 {

    width: 100%;
    height: 157px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;

}

.Ab-text p {

    width: 90%;
    height: 120px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.number {

    width: 110px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;

}

.About-feat1 {

    width: 49%;
    height: 92px;
}

.About-feat1 h2 {

    width: 195px;
    height: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #0D1317;


}

.About-feat2 {

    width: 49%;
}

.About-feat1 p {

    width: 100%;
}

.About-feat2 h2 {

    width: 195px;
    height: 26px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #0D1317;

}

.number::after {

    content: "\002B"

}


/*. Service Section */

.service {

    width: 100%;
    height: 698px;
    margin-top: 110px;
}

.service-back {

    width: 99%;
    height: 700px;
    background: #EDF7FF;
    border-radius: 20px;

}

.service-tab {

    display: flex;
    justify-content: space-between;
}

#yellow-but {


    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #F58A07;
    background-color: #FFFFFF;
    border-radius: 31px;
    border: #FFFFFF;
    width: 183px;
    height: 40px;

}

.service-button button {

    height: 24px;
    font-weight: 600;
    font-size: 16px;
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    width: 183px;
    height: 40px;
    cursor: pointer;

}

.service-text h1 {

    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}

.service-text {

    width: 50%;
}

.service-button {

    width: 48%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-desk {

    display: flex;
    justify-content: space-around;
}

.service-img {

    background: url("./images/team.png"), #F58A07;
    background-blend-mode: multiply;
    border-radius: 10px;
    width: 472px;
    height: 466px;
}

.service-text a {

    text-decoration: none;
    width: 123px;
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #F58A07;
}

.service-text p {

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

/*  start-up. */

.start img {

    width: 50%;

}

.start {

    display: flex;
    height: 510px;
    margin-top: 80px;

}

.start-up {

    background-color: #F58A07;
    width: 50%;
    padding-left: 60px;
    padding-top: 100px;
}

.start-up h1 {

    width: 500px;
    height: 168px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;

}

.start-up button {

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #F58A07;
    cursor: pointer;
    width: 216px;
    height: 54px;
    border-radius: 31px;
    background-color: #FFFFFF;
    border: #FFFFFF;
}


/* video - section */

.video-back {

    display: flex;
    margin-top: 80px;

}

.video-img {

    width: 620px;
    height: 501px;
    background: url("./images/video-image.png");

}

.video-left {


    width: 50%;

}

.video-left h1 {

    width: 550px;
    height: 112px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.video-back p {

    width: 550px;
    height: 90px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}

.video-profile {

    display: flex;
    justify-content: space-between;

    width: 280px;
    height: 110px;
}

.video-profile img {
    display: flex;
    align-items: center;

    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 30px;
}

.video-profile h2 {

    width: 145px;
    height: 41px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #063255;
    bottom: 0;
    line-height: -20px;


}

.video-profile p {

    width: 129px;
    height: 31px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #F58A07;
    line-height: 0;
    top: 0%;

}

.vid-img-back {

    width: 51px;
    height: 51px;
    background-color: #FFFFFF;
}

.video-img img {

    width: 17px;
    height: 17px;
    position: absolute;

}

/* Last section */

.last-card {

    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

.last-back {

    width: 100%;
    height: 785px;
    background-color: #DCEAF5;
    margin-top: 160px;
}

.last h1 {

    width: 453px;
    height: 56px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    padding-top: 50px;
}

.item {

    width: 400px;
    height: 507px;
    background-color: #FFFFFF;

}

.class img {

    width: 400px;
    height: 230px;
    border-radius: 20px 20px 0px 0px;
}

.item {

    width: 400px;
    height: 320px;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    margin-top: -35px;
    padding-top: 30px;
    padding-left: 30px;

}

.item a {

    text-decoration: none;
    width: 90px;
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #F58A07;

}

.item h3 {

    width: 336px;
    height: 72px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #0D1317;
}

.item p {

    width: 336px;
    height: 84px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

.item a::after {

    content: "\279D";
    width: 22px;
    height: 10px;
    color: #F58A07;
    
}