/* footer section */


footer h2 {

    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;

}

footer p {
    color: #FFFFFF;
}
.end-two a {
    color: #FFFFFF;
}

footer li {

    color: #FFFFFF;
    line-height: 2.5rem;
}

footer div {
    color: #FFFFFF;
}

footer {

    height: 463px;
    position: relative;
}

footer h1 {

    color: #FFFFFF;
}

footer {
    background-color: #063255;
    height: 463px;
}

footer li {
    list-style: none;
}

.footer-all {

    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 80px;

}

.footer-end {

    display: flex;
    justify-content: space-between;

}

.end-two {

    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-company {


    display: flex;
    justify-content: space-between;
}

.footer-connect {


    display: flex;
    justify-content: space-between;
}

.footer-news {


    display: flex;
    justify-content: space-between;
}

.footer-left-side h1 {
    font-size: 26px;
    font-weight: 600;
}

.footer-left-side {

    width: 30%;
}

.footer-social-icon {

    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footer-end p {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.footer-news input {

    width: 342px;
    height: 54px;
    background-color: #FFFFFF;
    border-radius: 31px;
    border: #063255;
}

.subscribe {

    width: 156px;
    height: 54px;
    background-color: #F58A07;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.orange-big {

    position: absolute;
    width: 43px;
    height: 287px;
    background-color: #F58A07;
    border-radius: 20px 0px 0px 20px;
    top: 50px;
    right: 0;
}

.orange-little {

    position: absolute;
    width: 43px;
    height: 144px;
    background-color: #F58A07;
    border-radius: 0px 20px 0px 0px;
    left: 0;
    bottom: 0;
}

::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #9C9C9C;
    padding-left: 30px;

}