.header{

    display: flex;
    justify-content: space-between;
   
}

.header ul {
    
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: #394149;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

}

.header-bar {

    display: flex;
    width: 60%;
    justify-content: space-between;
}

.header-garchig {

    width: 70%;

}

.header img {

    color: #063255;
    width: 122px;
    height: 28px;
    
}

.header-button {

    background: rgba(245, 138, 7, 0.1);
    font-weight: 600;
    color: #F58A07;
    width: 173px;
    height: 52px;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

.first-header{

    display: flex;
    flex-direction: column;
}