.home {
    background-color: #DCEAF5;
    height: 700px;
    position: relative;
}

.home-face {
    display: flex;
    width: 100%;
    height: 700px;
}

.home-left-side {
    width: 50%;
}
.home-right-side img{
    align-self: flex-end;
    width: 150%;
}
.home-click {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 40px;
    align-items: center;
}
.home-row {

    display: flex;
    flex-direction: column;
}
.home-bottom {
    margin-top: 40px;
}
.home-click div {
    background-color: #F58A07;
    border-radius: 27px;
    color: white;
    width: 199px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-click a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #1D3444;
}
.home-bottom div {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.home-right-side {
   display: flex; 
}

/* help section */

.help {
    height: 740px;
}

.help h2 {
    width: 750px;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #1D3444;
}

.help p {
    width: 735px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.cards p {
    width: 399px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #1d3444;
}

.card {
    width: 30%;
}

.card img {
    border-radius: 20px;
}

.card:hover {
    opacity: 0.8;
    transition: 0.5s;
}
.card{
    transition: 0.5s;
}
/* feaures section */

.feaures-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;

}

.feaures-list1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.feaures {
    background-color: #EDF7FF;
    height: 665px;
}

.feaures-text h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 0;
}

.feaures-text p {

    margin-top: 0;
}

.list {
    width: 30%;
    height: 340px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding-top: 50px;
    padding-left: 50px
}

.feaures-face {
    height: 600px;
}

.list p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

/* about section */

.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-num {
    display: flex;
}

.number div {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #F58A07;
}

.number p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}

.about-right {
    width: 100%;
    background: url("../images/about-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.about-left {
    width: 100%;
}

.about-color {
    width: 153px;
    height: 670px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0 0 20px;
}

.number div::after {
    content: "\002B";
}

/* service section */

.service-photo {
    background: url("../images/team.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.service {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #EDF7FF;
    border-radius: 20px;
    height: 650px;
}

.service-button {
    display: flex;
    justify-content: space-between;
    width: 86%;
}

.service-cover {
    width: 50%;
}

.service-photo {
    width: 472px;
    height: 466px;
}

.service-color {
    width: 120px;
    height: 466px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
}

.service-button div {
   width: 155px;
    height: 40px;
    border: 1px solid #A8BCCC;
    border-radius: 31px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(6, 50, 85, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    width: 194px;
    height: 40px;
    left: 368px;
    background-color: #FFFFFF;
    border-radius: 31px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #F58A07;
}

/* cta section */

.cta{
    background-color: #F58A07;
    width: 100%; 
    display: flex;
}
.photo{
    background: url("../images/experience-image.png");
    width: 50%;
    height: 518px;
}
.text{
    width: 50%;
}
.text-size{
    width: 60%;
    height: 518px;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-size h3{
    font-weight: 600;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.03em;
color: #FFFFFF;
}
.text-size div{
    font-style: normal;
font-weight: 600;
font-size: 16px;
text-transform: capitalize;
color: #F58A07;
width: 216px;
height: 54px;
background: #FFFFFF;
border-radius: 31px;
display: flex;
justify-content: center;
align-items: center;
}
/* video section */

.video-right-side {
    background: url("../images/video-image.png");
    background-repeat: no-repeat;
    width: 620px;
    height: 501px;
    position: relative;
}

.video {
    display: flex;
    width: 100%;
}

.video-left-side {
    width: 50%;
}

.video-right-side img {
    width: 17px;
    height: 17px;
}

.video-play {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 34%;
    position: absolute;
    left: 30px;
    bottom: 30px;
}

.video-play div {
    background-color: #FFFFFF;
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.video-play p {
    color: #FFFFFF;
    width: 150px;
    height: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.video-profile{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;     
}

.video-profile img{
    width: 80px;
height: 80px;
margin-top: 25px;
}

.video-profile h4{
margin-bottom: 0;
}
.video-text p{
    font-style: normal;
font-weight: 500;
font-size: 18px;
color: #F58A07;
}

/* last section */

.articles{
    display: flex;
    justify-content: space-between;
}
.last-cover{
    background-color: #DCEAF5;
    height: 819px;
}
.last{
    width: 100%;
    padding-top: 50px;
}
.last-card{
    width: 30%;
    height: 537px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.last-card img{
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}

.last-card div{
    padding-left: 40px;
}
.cards a::after{

    content: "\2192";
}
.service-text a::after{

    content: "\2192";
}
.last-card a::after{

    content: "\2192";
}